body {
    background-image: url(https://i.pinimg.com/originals/27/5d/2f/275d2f399e07c7a5d575e71d7fa0b443.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    text-align: center;
}
h1 {
    color: white;
    
}

#score {
    font-size: xx-large;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  margin: 0 auto;
  background-color: transparent;
  padding: 5px ;
  
}
#help {
    border-radius: 15px;
    width: 20px;
    height: 20px;
    background-color: darkred;
    margin: 0 800px;
    text-align: center;
    padding: 5px;
    font-size: larger;
}

#game-board {
    border-radius: 50px;
    width: 540px;
    height: 540px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    
}
