body {
    background-image: url(https://i.pinimg.com/originals/27/5d/2f/275d2f399e07c7a5d575e71d7fa0b443.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div {
    display: flex;
    flex-wrap: wrap;
    
    
}
#start {
    border-radius: 10px;
    background-color: red;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    font-size: x-large;
    
    

}
/* #timer {
    background-color: red;
    width: 100px;
    height: 35px;
    margin: 0 auto;
    font-size: xx-large;
    justify-content: center;
} */

#score {
    font-size: xx-large;
    margin: 0 auto;
    /* background-color: transparent; */
    padding: 15px;
}


#board {
    width: 540px;
    height: 540px;
    border-radius: 50px;
    background-color: aquamarine;
    margin: 0 auto;
    align-items: center;
}


#board div {
    width: 180px;
    height: 180px;
    background-image: url(../HoleInGround.png);
    background-repeat: no-repeat;
    background-size: contain;


}

#board div img {
    width: 120px;
    height: 120px;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* margin: 0 auto; */
}


#help {
    border-radius: 15px;
    width: 20px;
    height: 20px;
    background-color: darkred;
    margin: 0 auto;
    padding: 5px;
    font-size: larger;
    justify-content: center;
}